body {
  padding-top: 50px;
}

// Smaller Image size
.ui.xmini.image,
.ui.xmini.images .image,
.ui.xmini.images img,
.ui.xmini.images svg {
  width: 20px; 
}

// Indented item
.ui.list {
  .indented.item {
    margin-left: 1em;
  }
}

// Table
.ui.table {
  tbody,
  tbody + tbody {
    tr:first-child,
    tr:nth-child(2) {
      td {
        border-top: 3px solid rgba(34, 36, 38, .1);
      }
    }
  }

  tr:first-child td:first-child {
    border-right: 1px solid rgba(34, 36, 38, .1);
    width: 180px;
  }

  .ui.image.building-image {
    max-width: 180px;
    max-height: 180px;
  }
}