body {
  padding-top: 50px;
}

// Smaller Image size
.ui.xmini.image,
.ui.xmini.images .image,
.ui.xmini.images img,
.ui.xmini.images svg {
  width: 20px; 
}

// Indented item
.ui.list {
  .indented.item {
    margin-left: 1em;
  }
}

// Table
.ui.sortable.table {
  thead {
    th {
      &.tablesorter-header {
        background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
        background-repeat: no-repeat;
        background-position: center right;
      }

      &.tablesorter-headerAsc {
        background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
      }

      &.tablesorter-headerDesc {
        background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
      }
    }
  }
}