mixin m_product_material(material)
  .item 
    .content 
      .header 
        .ui.avatar.image 
          img(src=material.img)
          .item-label #{material.qty}
        | #{material.name}
      if material.mats 
        .list
          each mat in material.mats
            +m_product_material(mat)
